<a style="color:white;" class="logout"href="/user/logout">Log Out</a>
<div class="ourRecDiv">
	<h1 id="ourRec">Our recommendation: </h1>
</div>
<div class ="drinkRecBody">
	<div class="drinkRecDiv">
		<div class="drink-col-left">
			<div class="recNameDiv">
				<h2 class ="drinkName">{{name}}</h2>
			</div>
			<div class="pic">
				<img class="image" src="{{image}}">
			</div>
		</div>
		<div class="drink-col-right">
			<div class="drinkDescriptions">
				<ul class="drinkList">
					<li> {{type}} </li>
					<li> {{cravingSatisfied}} </li>
					<li> {{calories}} </li>
					<li> {{ingredients}} </li>
				</ul>
			</div>
			<div class="drinkButtonDiv">
				<button class="returnToProf">
					<a href="/user/profile">Return to Profile</a>
				</button>
			</div>
		</div>
	</div>
</div>
