<div class="header">
	<img class="logo" src="/images/coffeeMug.png" alt="">
	<ul>
		<a href="/user/profile"><li>Profile</li></a>
		<a href="/coffee/library/"><li>Library</li></a>
		<a href="/coffee/path/"><li>Recommendation</li></a>
		<a class="logout"href="/user/logout"><li>Log Out</li></a>
	</ul>
</div>
<div class="drinkBody">
<div class ="drinkSpecs">
	<div class="drinkHeader">
		<h1 id="ourRec">Our recommendation: </h1>
	<div>
		<h2 class ="drinkName">{{name}}</h2>
	</div>
	<div class="pic">
		<img class="image" src="{{image}}">
	</div>
	<div class="drinkDescriptions">
		<ul class="drinkList">
			<li> {{type}} </li>
			<li> {{cravingSatisfied}} </li>
			<li> {{calories}} </li>
			<li> {{ingredients}} </li>
		</ul>
	</div>
	{{!-- <h3 style="color: white;">{{type}}</h3> --}}
</div>
</div>
