<div class ="drinkSpecs">
	<div class="drinkHeader">
		<h1>Our recommendation: </h1>
		<h2 class ="drinkName">{{name}}</h2>
	</div>
	<div class="pic">
		<img class="image" src="/images/coffeeMug.jpg">
	</div>
	<div class="drinkDescriptions">
		<ul class="drinkList">
			<li>~ {{type}} ~</li>
			<li>~ {{cravingSatisfied}} ~</li>
			<li>~ {{calories}} ~</li>
			<li>~ {{ingredients}} ~</li>
		</ul>
	</div>
	{{!-- <h3 style="color: white;">{{type}}</h3> --}}
</div>
