<div class ="drinkSpecs">
		<h1 id="ourRec">Our recommendation: </h1>
	<div>
		<h2 class ="drinkName">{{name}}</h2>
	</div>
	<div class="pic">
		<img class="image" src="{{image}}">
	</div>
	<div class="drinkDescriptions">
		<ul class="drinkList">
			<li> {{type}} </li>
			<li> {{cravingSatisfied}} </li>
			<li> {{calories}} </li>
			<li> {{ingredients}} </li>
		</ul>
	</div>
	{{!-- <h3 style="color: white;">{{type}}</h3> --}}
</div>
