<div class="bodyP">

	<div class="userInfo">
		<h1 class="username">Welcome home, {{name}}.</h1>
		<div class="infobox">
			<div class="mark">
				<img src="/images/Headshot copy.jpg" alt="">
			</div>
			<div class="markStuff">
				<p >I love coffee! It's the best. It makes me wake up sometimes! I love this app because i love coffee!</p>
			</div>
		</div>
		<div class = "theButtons">
			<a href="/coffee/path"><button type="button" name="Recommend Drink" class="drinkButton">I need help choosing a drink!</button></a>
			<a href="/coffee/library"><button type="button" name="Drink Library" class="drinkButton">Let me see all of my options!</button></a>
		</div>
	</div>

	<div class="drinks-container">
				<h2 class="favDrinkTitle">{{name}}'s Picks</h2>
				<div class="favDrinksScroll">
					{{#each favoriteDrinks}}
					<ul class="lists">
						<h3 class="attrH">{{this.name}}</h3>
						<div class="list-container">
							<img class="thumbnail" src="{{image}}">
						</div>
						<div class="list-container" id="listID">
							<ul class="internalList" id="pro-list">
								<li class="attr">{{this.type}}</li>
								<li class="attr">{{this.cravingSatisfied}}</li>
								<li class="attr">{{this.calories}}</li>
								<li class="attr">{{this.ingredients}}</li>
							</ul>
						</div>
					</ul>
					{{/each}}
				</div>
	</div>

</div>
