<div class="header">
	<img class="logo" src="/images/coffeeMug.png" alt="">
	<ul>
		<a href="/user/profile"><li>Profile</li></a>
		<a href="/coffee/library/"><li>Library</li></a>
		<a href="/coffee/path/"><li>Recommendation</li></a>
		<a class="logout"href="/user/logout"><li>Log Out</li></a>
	</ul>
</div>

<div class="prof-container">
	<div class="buttonsDiv">
		<a href="/coffee/path"><button type="button" name="Recommend Drink" class="profButton">Need help choosing a drink?</button></a>
		<a href="/coffee/library"><button type="button" name="Drink Library" class="profButton">Check the all the drinks</button></a>
	</div>
	<div class="drinks-container">
		<h2 class="favDrinkTitle">{{name}}'s Picks</h2>
		<div class="favDrinksScroll">
			{{#each favoriteDrinks}}
			<ul class="lists">
				<h3 class="attrH">{{this.name}}</h3>
				<div class="list-container">
					<img class="thumbnail" src="{{image}}">
				</div>
				<div class="list-container" id="listID">
					<ul class="internalList" id="pro-list">
						<li class="attr">{{this.type}}</li>
						<li class="attr">{{this.cravingSatisfied}}</li>
						<li class="attr">{{this.calories}}</li>
						<li class="attr">{{this.ingredients}}</li>
					</ul>
				</div>
			</ul>
			{{/each}}
		</div>
	</div>

</div>






{{!-- <div class="bodyP">

<div class="userInfo col-Left">
	<h1 class="username">{{name}}</h1>
<div class="mark">
	<img src="/images/mark.jpg" alt="">
</div>
	<p class="markStuff">I love coffee! It's the best. It makes me wake up sometimes! I love this app because i love coffee!</p>
</div>

<div class="col-Mid">
	<a href="/coffee/path"><button type="button" name="Recommend Drink" class="recommendDrink">Need help choosing a drink?</button></a>
	<a href="/coffee/library"><button type="button" name="Drink Library" class="drinkLibrary">Check the all the drinks</button></a>
</div>

<div class="drinks-container col-Right ">
			<h2 class="favDrinkTitle">{{name}}'s Picks</h2>
			<div class="favDrinksScroll">
				{{#each favoriteDrinks}}
				<ul class="lists">
					<h3 class="attrH">{{this.name}}</h3>
					<div class="list-container">
						<img class="thumbnail" src="{{image}}">
					</div>
					<div class="list-container" id="listID">
						<ul class="internalList" id="pro-list">
							<li class="attr">{{this.type}}</li>
							<li class="attr">{{this.cravingSatisfied}}</li>
							<li class="attr">{{this.calories}}</li>
							<li class="attr">{{this.ingredients}}</li>
						</ul>
					</div>
				</ul>
				{{/each}}
			</div>
</div>

</div> --}}
